<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Carbohydrate</th>
            <th>Drinks</th>
            <th>Junks</th>
            <th>Protein</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr> 
        <!-- <tr *ngFor="let food of foods; let id = index">
            <td>{{id + 1}}</td>
            <td>{{food.foodId}}</td>
            <td>{{food.carbonhydrate}}</td>
            <td>{{food.drinks}}</td>
            <td>{{food.junks.biscuits}}</td>
            <td>{{food.protein.beans}}</td>
            <td><button class="edit-row-button">Edit</button> -->
            <!-- <td><button class="edit-row-button" (click)="routeToEditPage(user)">Edit</button> -->
            <!-- </td> -->
            <!-- <td><button class="delete-row-button" (click)="onDelete(user)">X</button> -->
            <!-- <td><button class="delete-row-button">X</button> -->
            <!-- </td> -->
        <!-- </tr> -->
        <br>
        <button class="btnSubmit padding-bottom--24">Go back</button>
        <!-- <button (click)="routeToFirstPage()" class="btnSubmit padding-bottom--24">Go back</button> -->
    </tbody>
</table><br>