@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Poppins, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #FF4B2B;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF4B2B;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF4B2B;
}

.btnSubmit {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 100%;
    min-height: 44px;
    border: unset;
    color: #ffffff;
    border-radius: 4px;
    background-color: #FF4B2B;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.delete-row-button {
    font-size: 16px;
    padding: 8px 8px;
    width: 80%;
    margin-top: 5px;
    margin-left: 10px;
    border: unset;
    color: #ffffff;
    border-radius: 4px;
    background-color: #ec1414;
    outline: #fff;
}

.delete-row-button:hover {
    cursor: pointer;
    background-color: #a90303;
}
.edit-row-button {
    font-size: 16px;
    padding: 8px 8px;
    width: 80%;
    margin-top: 5px;
    margin-left: 10px;
    border: unset;
    color: #ffffff;
    border-radius: 4px;
    background-color: #d3b106;
    outline: #fff;
}

.view-row-button {
    font-size: 16px;
    padding: 8px 8px;
    width: 80%;
    margin-top: 5px;
    margin-left: 10px;
    border: unset;
    color: #ffffff;
    border-radius: 4px;
    background-color: #5cc019;
    outline: #fff;
}

.edit-row-button:hover {
    background-color: #b4970a;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

//Search Input
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
   opacity: 0.7;
  }
  

  input.searchBtn {
    border: 1px solid #555;
    margin-top: 10px;
    padding: 9px 4px 9px 40px;
    width: 30%;
    border-radius: 10px;
  }


  // How to properly center a div element
  .center {
    margin: auto;
    width: 70%;
    // border: 3px solid green;
    padding: 5px;
  }