<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Account Number</th>
            <th>Email Address</th>
            <th>Account Type</th>
            <th>Customer Age</th>
            <th>Reason For Complaint</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let id = index"> 
            <td>{{user.id}}</td>
            <td>{{user.customerName}}</td>
            <td>{{user.customerAcctNum}}</td>
            <td>{{user.customerEmailAddress}}</td>
            <td>{{user.customerAcctType}}</td>
            <td>{{user.customerAge}}</td>
            <td>{{user.reasonForComplaint}}</td>
            <td><button class="view-row-button" (click)="routeToViewUserPage(user)"><i class="fa fa-eye" style="font-size:15px"></i></button>
            <td><button class="edit-row-button" (click)="routeToEditPage(user)"><i class="fa fa-edit" style="font-size:15px"></i></button>
            </td>
            <td><button class="delete-row-button" (click)="onDelete(user.id)"><i class="fa fa-trash" style="font-size:15px"></i></button>
        </tr><!-- and so on... --->
        <br>
        <button (click)="routeToFirstPage()" class="btnSubmit padding-bottom--24">Go back</button>
    </tbody>
</table><br>