<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let id = index"> 
            <td>{{id + 1}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.address}}</td>
            <td><button class="edit-row-button" (click)="routeToEditPage(user)">Edit</button>
            </td>
            <td><button class="delete-row-button" (click)="onDelete(user)">X</button>
            </td>
        </tr><!-- and so on... --->
        <br>
        <button (click)="routeToFirstPage()" class="btnSubmit padding-bottom--24">Go back</button>
    </tbody>
</table><br>