<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <h3 class="customerDetails padding-bottom--15">Customer Details</h3>

                        <form [formGroup]="userForm" (ngSubmit)="formPost()">
                            <div class="field padding-bottom--24">
                                <label for="lname">Full Name</label>
                                <input type="text" name="fname" formControlName="customerName">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="lname">Account Number</label>
                                <input type="text" formControlName="customerAcctNum">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="lname">Email Address</label>
                                <input type="email" name="email" formControlName="customerEmailAddress">
                            </div>
                            <label for="account">Account Type</label>
                            <select class="field padding-bottom--24" formControlName="customerAcctType">
                                <option value="Savings Account">Savings Account</option>
                                <option value="Current Account">Current Account</option>
                                <option value="Domicilliary Account">Domicilliary Account</option>
                            </select>
                            <div class="field padding-bottom--24">
                                <label for="lname">Customer Age</label>
                                <input type="number" formControlName="customerAge">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="lname">Reason for Complaint</label>
                                <textarea rows="10" cols="52" formControlName="reasonForComplaint"></textarea>
                            </div>
                    </form>
                    <button (click)="formPost()" class="btnSubmit padding-bottom--24">Submit</button>
                    <!-- <button (click)="routeToSecondPage()" class="btnSubmit padding-bottom--24">Next</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>